.App {
  text-align: center;
}

/* navbar */
.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #13a7e0;
;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* icons in navbar */
.navbar-icons {
  padding: 8px;
  color: white;
}


/* main page margins */
.main {
  margin-left: 100px;
  padding: 0px 10px;
  width: 90%;
}


/* items styling */
.items-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.add-item {
  background-color: #c76c92;
  border-radius: 20px;
  width: 270px;
  height: 220px;
}

.item {
background-color: #96a0d0;
border-radius: 20px;
width: 270px;
height: 220px;
}

/* spinner */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* homepage */
.homepage {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
}

.header {
  grid-area: header;
  height: 150px;
}

.welcome {
  grid-area: middle;
  line-height: 70px;
}

/* profile page */
.profile-page {
  display: grid;
  grid-template-areas: 'left right right';
  padding: 50px;
}

.profile-left{
  border: 1px solid #7F95D1;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  background-color: #EFE9F4;
}

.profile-right{
  border: 1px solid #7F95D1;
  border-radius: 20px;
  width: 120%;
}

.profile-header{
  border: 2px solid #7F95D1;
  background-color: white;
  border-radius: 20px;
}