@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.App {
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

button {
  color: #ed5892;
  border: 1px solid #ed5892;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
}

/* navbar */
.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #13a7e0;
  /* background-color: #3ca186; */
;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* icons in navbar */
.navbar-icons {
  padding: 8px;
  color: white;
}


/* main page margins */
.main {
  margin-left: 100px;
  padding: 0px 10px;
  width: 90%;
}


/* inventory styling */
.items-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  width: 95%;
  margin: auto;
  padding: 10px;
}

.add-inventory-item {
  background-color: #ed5892;
  border-radius: 5px;
  width: 320px;
  height: 290px;
  color: white;
  line-height: 30px;
}

.inventory-item {
  background-color: white;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 2px #9b9fce;
  border-radius: 5px;
  width: 470px;
  height: 290px;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  }

  .submit-button {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
  }

/* category styling */
.category-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.add-category-item {
  background-color: #ed5892;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  color: white;
  line-height: 30px;
}

.item {
background-color: white;
border: 1px solid #f1f1f1;
box-shadow: 1px 2px #9b9fce;
border-radius: 5px;
width: 400px;
height: 200px;
display: grid;
grid-template-columns: 1.3fr 2fr;
grid-gap: 10px;
}

.text {
  width: 95%;
}

.test-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: -50px 0px; */
}

/* item view page styling */
.item-page {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  /* margin: auto; */
  /* grid-gap: 30px; */
}

.item-image {
  width: 400px;
  height: 400px;
}

.item-info {
  border: 1px solid #f1f1f1;
  box-shadow: 1px 2px grey;
  border-radius: 5px;
  padding: 30px;
  width: 130%;

}


/* spinner */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* homepage */
.homepage {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
  background-image: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
  box-shadow: inset 0 0 0 1000px rgba(19,167,224,.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .homepage {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.homepage-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
}

.homepage-buttons button {
  padding: 10px 25px;
  font-size: 20px;
}

.header {
  grid-area: header;
  height: 70px;
}

.welcome {
  grid-area: middle;
  line-height: 70px;
  text-align: left;
}

/* profile page */
.profile-page {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}

.profile-left{
  /* background-color: #ed5892; */
  border: 1px solid #ed5892;
  box-shadow: 1px 2px #EFE9F4;
  /* color: white; */
  display: grid;
  grid-template-rows: auto auto;
  /* grid-gap: 20px; */
  width: 80%;
  padding: 20px;
  border-radius: 20px;
}

.profile-right{
  border: 1px solid #f1f1f1;
  box-shadow: 1px 2px #EFE9F4;
  border-radius: 20px;
  padding: 0px 20px;
  width: 80%;
}

.profile-right div {
  margin: auto;
}

.profile-photo {
  width: 250px;
  height: 250px;
  margin: auto;
}

/* .profile-header{
  border: 1px solid #ed5892;
  background-color: #ed5892;
  border-radius: 20px;
} */